<div id="home" class="banner-area banner-1" [ngStyle] = "{'background':'url(/assets/images/banner/bg-2.jpg)'}">
    <!-- <div class="overlay gr-overlay"></div> -->
    <div class="overlay"  [ngStyle] = "{'background': 'linear-gradient('+degree+','+color1+' '+degree1+','+color2+' '+degree2+','+color3+' '+degree3+')', 
                         'opacity': '0.55'
                        }"
    ></div>

    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12 banner-top">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle">Keep Glowing and Be Happy</h5>
                            <h1 class="banner-title"> Exerience multi desciplinary and exceptional services</h1>
                            <p>We at {{name}} help you dignose, cure and provide permanent solution to your health concerns. 
                                Book an appointment today.</p>

                            <a href="#book" class="btn btn-white btn-circled">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" style="overflow-y: scroll;"> -->
    <!--  ABOUT AREA START  -->
    <div id="services" class="intro section-padding"  aria-label="t1" (event)="test($event)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section-heading">
                        <p class="lead">We offer various services to take care of your health. Rest assured. 
                            </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  d-none d-lg-block col-sm-12">
                    <div class="intro-img">
                        <img src="./assets/images/banner/why-choose.png" alt="intro-img" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6" *ngFor="let service of services">                        
                                <div class="service-box">
                                    <div class="service-img-icon" style="background:#6FFCFB">
                                        <img [src]=service.image alt="service-icon" class="img-fluid">
                                    </div>
                                    <div class="service-inner">
                                        <h4>{{service.header}}</h4>
                                        <p>{{service.details}}</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-cta">
                                <p class="lead ">Want to know more or Still have any question on mind ? Contact at 
                                    <a href={{WA_CONTACT_URL}} 
                                    class="smoth-scroll"><img src="./assets/images/icon/whatsapp_32.png" alt="whatsapp-icon" class="img-fluid">
                                    </a>
                                    &nbsp;&nbsp; 
                                    <a href={{TG_CONTACT_URL}} class="smoth-scroll">
                                        <img src="./assets/images/icon/telegram_32.png" alt="whatsapp-icon" class="img-fluid">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">                        
                            <div class="service-box">
                                <div class="service-img-icon" style="background:#6FFCFB">
                                    <img src="./assets/images/icon/alarm.png" alt="service-icon" class="img-fluid">
                                </div>
                                <div class="service-inner">
                                    <h4>Efficiency</h4>
                                    <p>Access patient history at single click. No more searching file folder.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">                    
                            <div class="service-box">
                                <div class="service-img-icon" style="background:#6FFCFB">
                                    <img src="./assets/images/icon/phone-device-64.png" alt="service-icon" class="img-fluid">
                                </div>
                                <div class="service-inner">
                                    <h4>Mobile Friendly</h4>
                                    <p>Intuitive,  easy to use. Fewer clicks to manage patient information.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="service-box">
                                <div class="service-img-icon" style="background:#6FFCFB">
                                    <img src="./assets/images/icon/piggy-bank.png" alt="service-icon" class="img-fluid">
                                </div>
                                <div class="service-inner">
                                    <h4>Save Money</h4>
                                    <p>Very affordable, at no additional cost. Save paper, save money.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="service-box">
                                <div class="service-img-icon" style="background:#6FFCFB">
                                    <img src="./assets/images/icon/lock_64t.png" alt="service-icon" class="img-fluid">
                                </div>
                                <div class="service-inner">
                                    <h4>Ultra Privacy</h4>
                                    <p>Patient information is encrypted and completely secured.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-cta">
                            <p class="lead ">Want demo or Still have any question on mind ? Contact at <a href="https://wa.me/send?phone=918080924768&text=I%20am%20interested%20to%20know%20more%20about%20iDigitalClinic" class="smoth-scroll"><img src="./assets/images/icon/whatsapp_32.png" alt="whatsapp-icon" class="img-fluid"></a>&nbsp;&nbsp; <a href="https://telegram.me/idigitalclinic" class="smoth-scroll"><img src="./assets/images/icon/telegram_32.png" alt="whatsapp-icon" class="img-fluid"></a></p>
                        </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--  ABOUT AREA END  -->

    <!--  SERVICE AREA START  -->
    <div id="about" class="bg-light" aria-label="t2" (event)="test($event)">
    <div class="about-bg-img d-none d-lg-block d-md-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-md-8">
                <div class="about-content">
                    <h5 class="subtitle">About us</h5>
                    <div class="row about-image-space" *ngFor="let about of aboutUs">
                        <!-- <div class="row about-image-space"> -->
                            <div class="col-md-3">
                                <img [src]=about.image alt="doctor-image" class="img-fluid" width=100px height=150px>
                            </div>
                            <div class="col-md-5 about-header-space">
                                <p class="about-data">{{about.header}}</p>
                            </div>
                        <!-- </div>                         -->
                    </div>
                    <!-- <h4>We are small team of <strong>dedicated professionals</strong> 
                        with lot of passion who vouched to provide <strong>highest quality</strong> service</h4>
                    <p>We crafted this solution to assist medical practitioners with the help of our esteemed panel of Doctors.
                         Your decision won't go wrong with iDigitalClinic. We are listening. Let's connect if you have any suggetions.</p> -->

        
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- PRICE AREA START  -->
    <div id="book" class="section-padding bg-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 m-auto">
                    <div class="section-heading">
                        <h4 class="section-title">Affordable & Simple Pricing</h4>
                        <p>We have 3 months, 6 months and 1 year plans to choose. Check which one is most suitble for you. Take test ride with small one to start with. Right now we are offering free trial for 3 months with our starter plan</p>
                        <p class="lead">Want to subscribe, Contact at <a href="https://wa.me/send?phone=918080924768&text=I%20am%20interested%20to%20know%20more%20about%20iDigitalClinic" class="smoth-scroll"><img src="./assets/images/icon/whatsapp_32.png" alt="whatsapp-icon" class="img-fluid"></a>&nbsp;&nbsp; <a href="https://telegram.me/idigitalclinic" class="smoth-scroll"><img src="./assets/images/icon/telegram_32.png" alt="whatsapp-icon" class="img-fluid"></a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="pricing-block ">
                        <div class="price-header">
                            <div class="corner-style"></div>
                            <div class="corner-text">100% off</div>
                            <i class="icofont-helicopter"></i>

                            <h4 class="price"><small>Rs.</small>0</h4>
                            <h5>per Month</h5>
                            <h5 class="regular-text">Renewal at <small>Rs.</small> 799 </h5>
                        </div>
                        <div class="line extra"></div>
                        <ul>
                            <li>Starter Plan</li>
                            <li>Patient Registration</li>
                            <li>Schedule Visits</li>
                            <li>Visit history</li>
                            <li>Customized Clinical Notes</li>
                            <li>Print Prescription & Invoice</li>                         
                            <li>Upload Lab Reports</li>
                            <li>Separate Reception Access</li>
                            <li>Reporting and Analytics</li>
                            <li>3 Months Plan</li>
                            <li>GST</li>
                        </ul>
                        <a href="#about" class="btn btn-hero btn-circled" >Contact us</a>
                        <!-- <a href="#" class="btn btn-hero btn-circled" id="buyBtn">select plan</a> -->
                        <!-- <a href="#" class="btn btn-hero btn-circled" style="
    padding: 5px 5px 5px 5px;><img src="./assets/images/icon/whatsapp.png" width=25px height=25px alt="" class="img-fluid b-logo"></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="pricing-block ">
                        <div class="price-header">
                            <div class="corner-style"></div>
                            <div class="corner-text">23% off</div>
                            <i class="icofont-airplane-alt"></i>

                            <h4 class="price"><small>Rs.</small>499</h4>
                            <h5>per Month</h5>
                            <h5 class="regular-text">Renewal at <small>Rs.</small> 649 </h5>
                        </div>
                        <div class="line extra"></div>
                        <ul>
                            <li>Power Plan</li>
                            <li>Patient Registration</li>
                            <li>Schedule Visits</li>
                            <li>Visit history</li>
                            <li>Customized Clinical Notes</li>
                            <li>Print Prescription & Invoice</li>                         
                            <li>Upload Lab Reports</li>                           
                            <li>Separate Reception Access</li>
                            <li>Reporting and Analytics</li>
                            <li>6 months Plan</li>
                            <li>GST</li>
                        </ul>

                        <a href="#pricing" class="btn btn-hero btn-circled" >Contact us</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="pricing-block">
                        <div class="price-header">
                            <div class="corner-style"></div>
                            <div class="corner-text">20% off</div>
                            <i class="icofont-rocket-alt-1"></i>

                            <h4 class="price"><small>Rs.</small>399</h4>
                            <h5>per Month</h5>
                            <h5 class="regular-text">Renewal at <small>Rs.</small> 499 </h5>
                        </div>
                        <div class="line extra"></div>
                        <ul>
                            <li>Super Plan</li>
                        <li>Patient Registration</li>
                            <li>Schedule Visits</li>
                            <li>Visit history</li>
                            <li>Customized Clinical Notes</li>
                            <li>Print Prescription & Invoice</li>                         
                            <li>Upload Lab Reports</li>
                            <li>Separate Reception Access</li>
                            <li>Reporting and Analytics</li>
                            <li>1 year Plan</li>
                            <li>GST</li>
                        </ul>

                        <a href="#pricing" class="btn btn-hero btn-circled">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->